

header {
    background-color: #4d43de;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
 p{
  font-size: 23px;
  color: black;
  font-weight: 700;
  font-style: italic;
  
 }
  